[submodule "themes/hugo-future-imperfect"]
	path = themes/hugo-future-imperfect
	url = https://github.com/jpescador/hugo-future-imperfect.git
[submodule "themes/hugo-goa"]
	path = themes/hugo-goa
	url = https://github.com/leeturner/hugo-goa.git
