{{ define "main" }}
    {{ $pages := (where (where .Site.Pages "Type" "post") "IsPage" true) }}

    <div data-pagefind-ignore="all" class="container">
        <div class="row">
            <div class="
            col-lg-8 col-lg-offset-1
            col-md-8 col-md-offset-1
            col-sm-12
            col-xs-12
            post-container
        ">
                <div data-pagefind-ignore="all">
                    {{ range $index, $element := $.Paginator.Pages }}
                        <div class="post-preview">
{{/*                            <h2 class="post-title">*/}}
{{/*                                {{ .Title }}*/}}
{{/*                            </h2>*/}}
{{/*                            {{with .Params.subtitle }}*/}}
{{/*                                <h3 class="post-subtitle">*/}}
{{/*                                    {{ . }}*/}}
{{/*                                </h3>*/}}
{{/*                            {{ end }}*/}}
                            {{ .Content }}
                            <p class="post-meta">
                                <a href="{{ .Permalink }}">
                                {{ if .Params.metadata }}
                                    {{ range $index, $element := .Params.metadata }}
                                        {{ if .link }}
                                            <a href="{{ .link }}">{{ .text }}</a>
                                        {{ else }}
                                            {{ .text }}
                                        {{ end }}
                                    {{ end }}
                                {{ else }}
                                    Posted by {{ with .Params.author }}{{ . }}{{ else }}{{ .Site.Title }}{{ end }} on {{ .Date.Format "Monday, January 2, 2006  15:04:05 MST" }}
                                    <!-- Don't show "Last Modified on" if update happened on the same day. -->
                                    {{ if (and (not .Lastmod.IsZero) (not (eq (dateFormat "2006-01-02" .Lastmod) (dateFormat "2006-01-02" .Date)))) }}
                                        <br>Last Modified on {{ dateFormat "Monday, January 2, 2006" .Params.LastMod }}
                                    {{ end }}
                                {{ end }}
                                </a>
                            </p>

                        </div>
                        <hr>
                    {{ end }}
                </div>
                {{ partial "pagination.html" . }}
            </div>
            {{ partial "sidebar.html" . }}
        </div>
    </div>


    <hr />
{{ end }}
